*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin-left: 20px;
}

.course-title {
    margin-top: 20px;
    width: 60%;
    margin-left: auto;  
    margin-right: 0;  
}

.course-title h2 {
    font-size: 28px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, darkgreen, #dd8f54);
    padding: 25px 140px;
}

.schedule-table {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.schedule-table table {
    width: 100%;
    border-collapse: collapse;
}

.schedule-table thead th {
    background:  linear-gradient(to right, darkgreen, rgb(0, 157, 0));
    color: white;
    padding: 12px;
    text-align: center;
    border: 1px solid darkgreen;
    font-weight: bold;
}


.schedule-table tbody td {
    padding: 10px;
    border: 1px solid rgb(109, 114, 109);
    height: 85px;
}



